24.10.02

In [9]:
import warnings
import pandas as pd

# openpyxl 경고 무시
warnings.filterwarnings("ignore", category=UserWarning, module="openpyxl")

# Excel 파일 읽기
stock = pd.read_excel('ss_ex_1.xlsx', index_col=0 )

# 데이터 확인
stock.head(1)

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [8]:
import pandas as pd

df = pd.read_excel("ss_ex_1.xlsx" , index_col=0)
df.head(3)

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550

In [41]:
df = pd.read_excel("ss_ex_1.xlsx" , parse_dates=['일자'])
df = df.sort_values('일자')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 126 to 0
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.9 KB

In [42]:
df1.head(1)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [43]:
df2.index = pd.to_datetime(df2.index)
df2.head(1), type(df2.index)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [44]:
import pandas as pd 

df1 = pd.read_excel("ss_ex_1.xlsx")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [45]:
df1.head(1)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [46]:
df1['일자'] = pd.to_datetime(df1['일자'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

In [47]:
df1.head(1)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [48]:
import pandas as pd

df2 = pd.read_excel("ss_ex_1.xlsx" , index_col=0)
df2.head(1)

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [49]:
df2.index = pd.to_datetime(df2.index)
df2.head(1), type(df2.index)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [50]:
df3 = pd.read_excel("ss_ex_1.xlsx" , parse_dates=['일자'])
df3 = df.sort_values('일자')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 126 to 0
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.9 KB

In [22]:
from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2020/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2020/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, DPS to PBR
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2018/12     3 non-null      float64
 1   2019/12     3 non-null      float64
 2   2020/12     3 non-null      float64
 3   2020/12(E)  3 non-null      float64
dtypes: float64(4)
memory usage: 120.0+ bytes

In [24]:
# filter 메서드 
# 컬럼 필터
df.filter(items=['2018/12'])

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

In [25]:
# 행 필터
df.filter(items=['PER'], axis=0 )

     2018/12  2019/12  2020/12  2020/12(E)
PER     6.42    17.63    21.09       13.93

In [26]:
# 정규표현식으로 활용해서 행과 열 조회
df.filter(regex='2020')

# 컬럼명 전체를 입력하지 않더라도, 필터링이 가능함

     2020/12  2020/12(E)
DPS  2994.00     1755.00
PER    21.09       13.93
PBR     2.06        1.88

In [30]:
# R이 들어간 행만 조회
df.filter(regex='R', axis = 0)

     2018/12  2019/12  2020/12  2020/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [31]:
# R로 끝나는 모든 패턴을 조회
df.filter(regex='R$', axis=0)

     2018/12  2019/12  2020/12  2020/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88