# 데이터프레임 생성

In [2]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.1.1
2.2.3

- 첫번째 방법 : 리스트 활용
- 두번째 방법 : 딕셔너리 활용(강사 선호)

In [4]:
data = [
    ["039900", "알파코", 1000000, 10.05],
    ["039910", "A", 500000, 1.05],
    ["039920", "B", 1000, 1.28]
]

columns = ['종목코드', '종목명', '현재가', '등락률']
df = pd.DataFrame(data = data, columns = columns)
df

     종목코드  종목명      현재가    등락률
0  039900  알파코  1000000  10.05
1  039910    A   500000   1.05
2  039920    B     1000   1.28