# 데이터프레임 생성

In [2]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.1.1
2.2.3

- 첫번째 방법 : 리스트 활용
- 두번째 방법 : 딕셔너리 활용(강사 선호)

In [4]:
data = [
    ["039900", "알파코", 1000000, 10.05],
    ["039910", "A", 500000, 1.05],
    ["039920", "B", 1000, 1.28]
]

columns = ['종목코드', '종목명', '현재가', '등락률']
df = pd.DataFrame(data = data, columns = columns)
df

     종목코드  종목명      현재가    등락률
0  039900  알파코  1000000  10.05
1  039910    A   500000   1.05
2  039920    B     1000   1.28

In [11]:
data2 = {
    "종목코드" : ['039900', '0399910', '039920'],
    '종목명' : ['알파코', 'A', 'B']
}

df2 = pd.DataFrame(data = data2)
df2

      종목코드  종목명
0   039900  알파코
1  0399910    A
2   039920    B

In [12]:
import numpy as np
import random
import string

# 랜덤한 회사 이름 생성 함수 (2~10자의 알파벳으로 구성)
def random_company_name():
    length = random.randint(1, 10)  # 회사 이름의 길이 (1~10자)
    return ''.join(random.choices(string.ascii_uppercase, k=length))

# 10,000개의 가상 데이터 생성
data = []
for _ in range(10000):
    stock_code = ''.join(random.choices(string.digits, k=6))  # 6자리 숫자로 주식 코드 생성
    company_name = random_company_name()  # 회사 이름 생성
    price = random.randint(1000, 1000000)  # 주가 (1000 ~ 1000000)
    price_change = round(random.uniform(0, 30), 2)  # 주가 상승률 (0 ~ 30, 소수점 둘째 자리까지)
    data.append([stock_code, company_name, price, price_change])

# 생성된 데이터 확인
for i in range(5):  # 처음 5개 항목 출력
    print(data[i])

['134849', 'C', 214885, 6.55]
['235793', 'EH', 182853, 18.62]
['613896', 'KLPTXYQFHI', 322691, 24.63]
['966587', 'IBI', 371161, 20.33]
['631416', 'PSNAS', 674291, 25.04]