# 2024.09.25 Python 활용

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sb
import scipy as scp
import sklearn

print(np.__version__)
print(pd.__version__)
print(mpl.__version__)
print(sb.__version__)
print(scp.__version__)
print(sklearn.__version__)

2.1.1
2.2.3
3.9.2
0.13.2
1.14.1
1.5.2

# 제어문 & 반복문

In [8]:
x = int(input('성적을 입력하세요.'))
if x >= 90: # 조건문 끝에 :를 붙여줘야함
    print("Pass") # 조건문 작성할 때 탭 누르기

성적을 입력하세요. 93

Pass

## 단일 조건 및 그 외 조건에 따른 분기

In [10]:
x = int(input('성적을 입력하세요.'))
if x >= 90: # 조건문 끝에 :를 붙여줘야함
    print("Pass") # 조건문 작성할 때 탭 누르기
else: # 그 외 조건
    print("Fail")

성적을 입력하세요. 85

Fail

### 합격/불합격 시나리오
시나리오 1.
> 문제 정의

> 점수가 90점 이상이면 합격, 그 외는 불합격

시나리오 2.
> 문제정의

> 점수가 90점 이상이면 합격,

> 점수가 80점 이상이면 조건부 합격,

> 그 외는 불합격

시나리오 잘 짜려면 다이어그램 그리는 습관 들여야함

## 여러 조건에 따른 분기

In [11]:
x = int(input('성적을 입력하세요.'))
if x >= 90: # 조건문 끝에 :를 붙여줘야함
    print("Pass") # 조건문 작성할 때 탭 누르기
elif (x>=80) and (x<90):
    print("조건부 합격")
else: # 그 외 조건
    print("Fail")

성적을 입력하세요. 80

조건부 합격

### elif 조건문만 떼서 원하는 값 넣어 테스트하기

In [14]:
x=88
print (x>=80) and (x<90)
if (x>=80) and (x<90):
    print("조건부 합격")

True
조건부 합격

## 중첩 조건에 따른 분기
- 시나리오
- 90점 넘으면 합격, 그 중 100점은 장학금 지급
- 80점 이상은 조건부 합격
- 그 외는 불합격

In [15]:
x = int(input('성적을 입력하세요.'))
if x >= 90: # 조건문 끝에 :를 붙여줘야함
    if x == 100:
        print("장학금 지급")
    else:
        print("Pass") # 조건문 작성할 때 탭 누르기
        
elif (x>=80) and (x<90):
    print("조건부 합격")

else: # 그 외 조건
    print("Fail")

성적을 입력하세요. 100

장학금 지급

# 반복문
- 똑같은 일을 계속해서 반복해야할 때

## for문

In [22]:
for i in range(5): # i는 임의 변수, 콜론 사용해야함
    print("안녕")

안녕
안녕
안녕
안녕
안녕

In [28]:
# 시퀀스 자료형이 range 대신에 들어갈 수 있음
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [27]:
for i in my_list:
    print(i)
    
print(" ")

for j in my_string:
    print(j)

1
2
3

h
e
l
l
o

In [29]:
list(range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for문 만들기 GPT에게 질문

In [36]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]


# 원하는 결과물 
# x1, y1
# x1, y2
# x2, y1
# x2, y2

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x,y)
    print("y 반복문 종료")

x y
x1
x1 y1
x1 y2
y 반복문 종료
x2
x2 y1
x2 y2
y 반복문 종료

## 여러 개의 리스트 다루기

In [39]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

#idx : index number
for idx in range(len(names)):
    print(idx)

0
1
2
3

In [42]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

print(names[0], scores[0])
print(names[0], scores[1])
print(names[0], scores[2])
print(names[0], scores[3])

James 95
James 96
James 97
James 94

In [41]:
for idx in range(len(names)):
    # print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [47]:
#여러가지 반복문 작성 방법
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for name, score in zip(names, scores):
    print(name, score) 
    
print(" ")

for idx, name in enumerate(names):
    print(name, scores[idx])

print(" ")

for name, score in map(lambda x, y: (x, y), names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

James 95
Robert 96
Lisa 97
Mary 94

James 95
Robert 96
Lisa 97
Mary 94

## 리스트 컴프리헨션

In [65]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    #각 요소마다 2씩 곱하기
    # print(x * 2)
    result.append(x * 2)

print(result)
# [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [55]:
# 리스트 컴프리헨션은 위 반복문을 한 줄로 처리하는 방법
numbers = [1, 2, 3, 4, 5]
result2 = [x * 2 for x in numbers]
print(result2)

[2, 4, 6, 8, 10]

In [57]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [64]:
# 조건문 추가할 땐 for 뒤에
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2 == 0]
print(result2)

[2, 4, 6]

## while 반복문
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석 : 데이터 셋이 정해져있다
  + 행과 열이 고정이 돼있다.
  + 범위가 주어진 상태
- 데이터 분석할 때는 쓸 일이 거의 없다

In [66]:
# while 반복문을 짤 때는 False 되는 시점을 고려해야함

i = 0
total = 0

while (total < 20):
    i = i + 1
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [69]:
k = 0 
while True:
    k = k + 1
    print("hi")
    if(k > 3):
        print("강제종료")
        break # break로 루프 빠져나오기

hi
hi
hi
hi
강제종료

## 사용자 정의 함수

In [70]:
def my_1st_func():
    print("hi")
    print("hello")

my_1st_func()

hi
hello

In [72]:
k = 0 
while True:
    k = k + 1
    my_1st_func()
    if(k > 1):
        print("강제종료")
        break # break로 루프 빠져나오기

hi
hello
hi
hello
강제종료

### 인자(인수)는 있으나 반환 값이 함수

In [11]:
def my_friend(name):
    print(f'{name}는 나의 친구입니다.')
    print(f"{name}는 나의 친구입니다.".format(name))

my_friend("철수")
my_friend("짱구")
my_friend("이슬")

철수는 나의 친구입니다.
철수는 나의 친구입니다.
짱구는 나의 친구입니다.
짱구는 나의 친구입니다.
이슬는 나의 친구입니다.
이슬는 나의 친구입니다.

In [15]:
# import pandas as pd

# pd.read_csv() -> 에러남

In [9]:
def my_calc(x, y):
    z = x * y
    return z

In [10]:
my_calc(3, 4)

12

In [40]:
print(my_calc(3, 4)) #파이썬 파일에선 print를 써야 출력됨

12

## 변수의 유효 범위
- 전역 변수 / 지역 변수

In [41]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수
    print("[func1] 지역 변수 a=", a)

def func2():
    a = 1 # 지역 변수
    print("[func2] 지역 변수 a=", a)

def func3():
    print("[func3] 지역 변수 a=", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 전역 변수 a=", a)

In [30]:
func1()
func2()
func3()
func4()
print("전역 변수 a=", a) # 전역 변수 출력

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
[func3] 지역 변수 a = 4
[func4] 전역 변수 a =  4
전역 변수 a= 4

In [28]:
a = 5           # 전역 변수

def func1():
    a = 1       # 지역 변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2       # 지역 변수
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 지역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 전역 변수 a = ", a)

In [31]:
func3()
func4()
func3()

[func3] 지역 변수 a = 4
[func4] 전역 변수 a =  4
[func3] 지역 변수 a = 4

In [38]:
c = 1

def add():
    global c # 전역 변수 없으면 출력 안됨
    c = c + 2
    print(c)

## 가변인수 예제
- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
  + 문제점 : 각 학생마다 시험 본 과목 수가 다름
    - A : 3과목
    - B : 2과목
    - C : 5과목

In [56]:
def calculate_average(name, *scores):
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [57]:
calculate_average("Evan", 85, 70, 75)

Evan의 평균 점수는 76.67점입니다.

In [58]:
calculate_average("A", 90, 70)

A의 평균 점수는 80.00점입니다.

In [59]:
calculate_average("C")

C의 점수를 입력하지 않았습니다.

In [54]:
def calculate_average(name, *scores):
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [55]:
calculate_average("a", 5, 1, 2)

<class 'tuple'>
a의 평균 점수는 2.67점입니다.

## 키워드 인수 확인 예제
- 학생의 이름, 과목별 점수, 그리고 학년을 받아 학생의 성적을 출력하는 함수
  + 고정 인수 : 학생의 이름
  + 가변 인수 : 여러 개의 과목 점수
  + 키워드 인수 : 학년 정보

In [53]:
# def student_report(name, *args, **kwargs) 
def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

# 람다(lambda) 함수

In [64]:
(lambda x : x ** 2)(5)

25

In [61]:
mySquare = lambda x : x ** 2 
mySquare(5)

25

In [63]:
sampleFunc = lambda x, y, z : x ** 2 + 3 * y + z
sampleFunc(1, 2, 3)

10

# Context Manager, Decorator
- 클로저 Closure
  + 함수 안에 또 다른 함수 생성

In [67]:
import time

#코드가 돌아가는 시간 체크하는 함수
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

# 전체 코드는 데코레이터, 내부에 있는 것은 클로저

@time_decorator
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0051 seconds

'Finished'

# 클래스 왕 기초

In [88]:
class 책 : 
    title = None     #속성
    author = None    #속성
    pages = 0        #속성 
    price = 0        #속성
    discount = 0     #속성

    def 읽는시간(self, reading_speed = 30): 
        return round(self.pages / reading_speed, 1)

#클래스 내부에서 함수를 쓸 때는 self 필수

In [90]:
# 클래스 만들면 인스턴스 생성하기

책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10
     
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

In [91]:
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

Streamlit Evan
112.0

In [81]:
책02호 = 책()
책02호.TITLE = "Python" # 대소문자 구별 못함
책02호.author = "Evan"
책02호.pages = 560
책02호.price = 40000
책02호.discount = 10
print(책02호.TITLE)

# 이렇게 만들면 불편함, 삐익 X!

Python

## 코드 업데이트

In [108]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author,pages, price, discount_rate = 0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate

    def reading_time(self, reading_speed = 30): 
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [115]:
책01호 = 책("샘플0", "Evan", 300, 20000, 0.1)
책02호 = 책("샘플1", "Evan1", 400, 20000, 0.1)
책03호 = 책("샘플2", "Evan2", 500, 20000, 0.1)
책04호 = 책("샘플3", "Evan3", 600, 20000, 0.1)
책01호.title, 책02호.title

('샘플0', '샘플1')

In [113]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

10.0

In [114]:
책01호.apply_discount()

18000.0

In [113]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)

10.0

In [117]:
class 책2():
    # initialize : 초기화
    def __init__(self, title, author=None, pages=None, price=None, discount_rate = 0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate

    def reading_time(self, reading_speed = 30): 
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

temp = 책2("dda")
temp