# Groupby 연습

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df

     A      B         C         D
0  foo    one  0.446495  0.920962
1  bar    one -0.417405 -0.398564
2  foo    two -0.331615  0.328060
3  bar  three  0.478319 -2.095706
4  foo    two  0.764735 -0.387452
5  bar    two  0.111478 -0.035537
6  foo    one -1.207727 -1.028810
7  foo  three -0.346523 -1.095749

In [13]:
#g1 = df.groupby(df['A'])
#g1.head()

#g2 = df.groupby("B")
#g2.head()

g3 = df.groupby(["A", "B"])
g3.head()

     A      B         C         D
0  foo    one  0.446495  0.920962
1  bar    one -0.417405 -0.398564
2  foo    two -0.331615  0.328060
3  bar  three  0.478319 -2.095706
4  foo    two  0.764735 -0.387452
5  bar    two  0.111478 -0.035537
6  foo    one -1.207727 -1.028810
7  foo  three -0.346523 -1.095749