# Groupby 연습

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df

     A      B         C         D
0  foo    one  0.446495  0.920962
1  bar    one -0.417405 -0.398564
2  foo    two -0.331615  0.328060
3  bar  three  0.478319 -2.095706
4  foo    two  0.764735 -0.387452
5  bar    two  0.111478 -0.035537
6  foo    one -1.207727 -1.028810
7  foo  three -0.346523 -1.095749

In [14]:
grouped = df.groupby(df['A'])

grouped = df.groupby("B")

grouped = df.groupby(["A", "B"])

In [16]:
df2 = df.set_index(['A','B'])

grouped = df2.groupby(level=df2.index.names.difference(['B']))

grouped.sum()

            C         D
A
bar  0.172391 -2.529806
foo -0.674634 -1.262989

In [17]:
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'

grouped = df.T.groupby(get_letter_type)

In [19]:
idx = [1,2,3,1,2,3]
s = pd.Series([1,2,3,10,20,30], index=idx)
s

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64