# 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [1]:
a = int(10)
b = float(5.5)
print(type(a + b))

<class 'float'>

# 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [4]:
# "100" + 50 는 타입 에러로 형변환 필요
int("100") + 50

150

# 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [2]:
a = [1, 2, 3]
b = (4, 5, 6)
# 더하기 불가능, 튜플을 리스트로 바꾸어 주어야 함 
result = a + list(b)
print(result)

[1, 2, 3, 4, 5, 6]

# 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [17]:
x = None
# None type 으로 변환 불가능, str만 됨
str(x)

'None'

# 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [3]:
a = 3
print(float(a))

3.0

# 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [6]:
s = "Hello"
for i in range(3):
    print(s)
#정답
result = s * 3 
print(result)
print(type(result))

Hello
Hello
Hello
HelloHelloHello
<class 'str'>

# 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [8]:
x = 7 
a = str(x) + "3"
print(a)

73

# 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [26]:
a = True
b = False
print(a + b)
type(a + b)

1

int

# 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [9]:
a = 25
print(a / 0.5)
print(type(a / 0.5))

50.0
<class 'float'>

# 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [10]:
text = '12345'
print(int(text) + 10)

12355

# 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

In [11]:
list = [10, 20, 30, 40, 50]
print(max(list))

#max_value = max(list)
#print(max_value)

50

# 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

In [12]:
list = [1, 2, 3, 4, 5]
sum(list)

#sum_value = sum(list)
#print(sum_value)

15

# 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

In [16]:
tuple = (5, 10, 15, 20)
print(tuple[1])

#second_element = tuple[1]
#print(second_element)

10

# 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

In [19]:
tu1 = (1, 2, 3)
tu2 = (4, 5, 6)
a = tu1 + tu2
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

# 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

In [44]:
my_dic = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
my_dic['b'] = 10
my_dic

{'a': 1, 'b': 10, 'c': 3}

# 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

In [48]:
dic = {
    'name' : 'Alice',
    'age' : 25,
    'city' : 'New York'
}

dic.keys()

dict_keys(['name', 'age', 'city'])

# 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

In [27]:
i = 0

while (i < 5):
    i = i + 1 
    print(i)

print(" ")

i = 1 
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

1
2
3
4
5

# 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

In [25]:
i = 11
while (i > 1):
    i = i - 1
    print(i)

print(" ")

i=10
while i >=1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

10
9
8
7
6
5
4
3
2
1

# 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

In [28]:
num = [2, 4, 6, 8, 10]
result = [x * 2 for x in num]
print(result)

print(" ")

for n in num:
    print(n * 2)

[4, 8, 12, 16, 20]

4
8
12
16
20

# 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.

In [29]:
a = "Python"
result = [x for x in a]
print(result)

print(" ")

for char in a:
    print(char)

['P', 'y', 't', 'h', 'o', 'n']

P
y
t
h
o
n